body{
    background: linear-gradient(#4b4e50, #2c3e50);
    
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0;
    background-attachment: fixed;
}

.titleText{
    width: 90%;
    height: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.9));
}

*{
    text-decoration: none;
}
.navbar{
    background: black;
    text-align: center;
    font-family: serif;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid yellow;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
button{
    background-image: url(Images/DropDown.png);
    background-size: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px;
    width: 90px;
    border: 2px solid transparent;

    transition: 0.3s;

    font-weight: bold;
    font-size: 20px;
    font-family: serif;

    filter: drop-shadow(0px 0px 20px rgba(255, 255, 0, 0.9));
}
button:hover{
    border-radius:15px;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 0, 1));

    transform: scale(1.2);
    color: yellow;
}

.skull{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50px;
    color: yellow;

    border: 2px solid yellow;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.9);

    animation: spin 5s linear infinite alternate;
}
@keyframes spin{
    from{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    }
    to{
        box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.9);
        transform: rotate(360deg);
    }
}

.mainText{
    font-size: 20px;
    font-family: serif;
    color: yellow;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lineSkull{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50px;
    color: yellow;

    border: 2px solid yellow;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.9);

    position: relative;
    animation: rollSpin 5s linear infinite alternate;
}
@keyframes rollSpin{
    from{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
        left: -30%;
    }
    to{
        box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.9);
        transform: rotate(360deg);
        left: 30%;
    }
}